<div id="sort-bar">
	<div id="sort-title">Sort By:</div>
	<div id="content-sort">
		<a href="" class="selected">In Theaters</a>
		<%= link_to "Title", controller: "movies" %>
		<a href="">Release Date</a>
		<a href="">Genre</a>
	</div>
</div>