<div id="main-content" class="clearfix">
	<%= render 'movies_bar' %>
	<%= render 'movies_pagination' %>
	<div id="movies-view-content" class="clearfix">
		<%= render 'movies_main' %>
	</div>
	<%= render 'movies_pagination' %>
</div>