<div id="about-content">
	<h2>About</h2>
	<div>
		<div class="about-line">This site was made in part to learn Ruby on Rails, and in part for an interview in which I hope to do well.</div class="about-line">
		<div class="about-line">This is a movie review concept site that users can post reviews on movies. It is powered by <a href="https://www.themoviedb.org/">The Movie DB</a>, a great and easy resource to use.</div class="about-line">
		<div class="about-line">If you are the interviewer evaluating this site, you are a wonderful human being.</div class="about-line">
	</div>
</div>