// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#about-content {
	padding-left: 20px;
	padding-right: 20px;
}

#about-content h2 {
	font-size: 2em;
}

.about-line {
	padding-bottom: 10px;
}