// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Movies Index */
#pagination {
	margin-top: 20px;
	font-size: 1.2em;
}

#pagi-left{
	float: left;
}

#pagi-right{
	float: right;
}

#pagination i {
	color: blue;
	font-size: 1.5em;
	vertical-align: middle;
}

#pagination i:hover {
	color: #000;
}

#pagination a {
	text-decoration: none;
}

#additional-sort {
	display: inline-block;
	margin-left: 30px;
	vertical-align: middle;
}

#additional-sort select{
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 10px;
}

#movies-view-content {
    width: 100%;
}

/*Movies Show View */

#content {
    background: #fff;
    padding-left: 20px;
    padding-right: 20px;
}

#article-img {
	float: left;
	margin-right: 20px;
}

#article-main {
	float: left;
	width: 60%;
}

#article-main h2 {
	font-size: 2em;
	margin: 0;
}

#fact-line{
	margin-top: 5px;
}

.fact-item {
    border-right: 1px solid #cccccc;
	float: left;
	font-weight: bold;
    margin-right: 20px;
	padding-right: 20px;
}

#movie-site {
	float: left;
	font-weight: bold;
}

#overview {
	clear: both;
	font-size: 1.25em;
	margin-top: 30px;
}

#reviews {
	margin-top: 20px;
	padding-bottom: 20px;
}

#review-link {
	margin-top: 20px;
}

.review-comment-box {
	margin-top: 10px;
}

.review-comment {
	float: left;
	max-width: 90%;
}

.review-perma {
	display: inline-block;
	font-size: 0.75em;
}

#more-reviews {
	margin-top: 20px;
}
