// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#movies-view-content {
    width: 100%;
}

#content {
    background: #fff;
    padding-left: 20px;
    padding-right: 20px;
}

#article {

}

#article-img {
	float: left;
	margin-right: 20px;
}

#article-main {
	float: left;
	width: 60%;
}

#article-main h2 {
	font-size: 2em;
	margin: 0;
}

#fact-line{
	margin-top: 5px;
}

#fact-date{
}

.fact-item {
    border-right: 1px solid #cccccc;
	float: left;
	font-weight: bold;
	padding-right: 20px;
    margin-right: 20px;
}

#movie-site {
	float: left;
	font-weight: bold;
}

#overview {
	clear: both;
	font-size: 1.25em;
	margin-top: 30px;
}

#reviews {
	margin-top: 20px;
}
